@inherits LayoutComponentBase

<PageTitle>petfAInder</PageTitle>

<div class="page">
    <main>
        <nav class="custom-navbar">
            <div class="nav-container">
                <div class="nav-logo">
                    <img src="images/logoWithName.svg" alt="petfAInder" />
                </div>

                <ul class="nav-links">
                    <li><NavLink href="/" Match="NavLinkMatch.All">Home</NavLink></li>
                    <li><NavLink href="/lost">Lost</NavLink></li>
                    <li><NavLink href="/found">Found</NavLink></li>
                </ul>

                <div class="nav-actions">
                    <a href="/status" class="btn-primary-action">Status</a>
                </div>
            </div>
        </nav>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>