.page{
    color: var(--dark-blue);
}

.custom-navbar {
    background-color: var(--ivory);
    padding: 0.75rem 2rem;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
}

.nav-logo img {
    height: 32px;
}

.logo-text {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--dark-blue);
}

.logo-text .highlight {
    font-weight: 700;
    color: var(--green);
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 4rem;
    justify-content: center;
    flex: 2;
}

.nav-links a {
    text-decoration: none;
    color: var(--dark-blue);
    font-weight: 500;
    font-size: 0.95rem;
    transition: color 0.2s;
}

.nav-links a:hover {
    color: var(--misty-blue);
}

.nav-actions {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.nav-links ::deep a {
    text-decoration: none !important;
    color: var(--dark-blue);
    font-weight: 500;
    font-size: 0.95rem;
    transition: color 0.2s;
}

.nav-links ::deep a:hover {
    color: var(--misty-blue);
}

.nav-links ::deep a.active {
    font-weight: 700;
}