@page "/"

<div class="index-container">
    <div>
    <h2>Welcome to the future of finding lost pets</h2>

    <div class="buttons">
        <div class="button-container">
            <CardButton
                Href="/lost"
                Icon="/images/lostPet.svg"
                Alt="Lost Pet Icon"
                TitlePrefix="I"
                TitleHighlight="Lost"
                TitleSuffix="My Pet"
                Subtitle="Find Your Missing Companion." />
        </div>

        <div class="button-container">
            <CardButton
                Href="/found"
                Icon="/images/foundPet.svg"
                Alt="Found Pet Icon"
                TitlePrefix="I"
                TitleHighlight="Found"
                TitleSuffix="A Pet"
                Subtitle="Report and Safe Keep a found Animal." />
        </div>
    </div>
    </div>
</div>