@page "/submit/found"

<PageTitle>Pet Submitted</PageTitle>

<div class="confirmation-container">
    <h2>Thank you for reporting a potential lost pet which might be found, now - because of YOU!</h2>
    <p>Our advanced AI model will evaluate if we know the owner of this lost pet.</p>
</div>