@page "/submit"

<PageTitle>Pet Submitted</PageTitle>

<div class="confirmation-container">
    <h2>We feel very sorry for your loss and thank you for reporting your lost pet!</h2>
    <p>Our advanced AI model will take care of the search for your lost pet. Please check continously the <a href="/status">status page</a> to see if your pet has been found.</p>
</div>
